<div class="text-[var(--text-color)] dark:text-white border-b border-gray-300 dark:border-white/20  flex flex-row w-full gap-[2%]" style="  height: 6rem; align-items: center; justify-content: space-between; padding: 0 2%; ">

  <!-- Logo Section -->
  <div [routerLink]="'/'"class="cursor-pointer" style="display: flex; flex-direction: row; gap: 12px; align-items: center; ">
    <i class="pi pi-compass" style="color: orange; font-size: clamp(30px, 4vw, 50px);"></i>
    <h1 style="font-weight: 600; font-size: clamp(16px, 2.5vw, 24px); color: #f59e0b; white-space: nowrap;">
      NetAlışveriş
    </h1>
  </div>

  <!-- Search Section -->
  <div class="dark:text-white" style="display: flex; flex: 1; justify-content: center; padding: 0 2%; max-width: 800px;" >
    <input
      class="w-full p-4 border border-white/30 rounded shadow-sm
         text-black dark:text-white
         placeholder-gray-500 dark:placeholder-white
         bg-white dark:bg-black transition-colors"
      [(ngModel)]="aranacak"
      (ngModelChange)="onSearchChange()"
      type="text"
      pSize="large"
      placeholder="Aramak istediğiniz ürün ismi giriniz"
    />
  </div>

  <!-- Navigation Section -->
  <div  style="display: flex; justify-content: flex-end;  padding: 0 1%;">
    <ul style="display: flex; flex-direction: row; gap: clamp(8px, 1.5vw, 20px); font-weight: 600; color: #374151; align-items: center; margin: 0; padding: 0; list-style: none;">
      <li  class="hidden md:block dark:text-white">
        <a [routerLink]="'/'" style="text-decoration: none; color: inherit; white-space: nowrap;">Ana Sayfa</a>
      </li>
      <li  class="hidden md:block dark:text-white">
        <a href="/about" style="text-decoration: none; color: inherit; white-space: nowrap;">Hakkımızda</a>
      </li>

      <li style="display: flex; align-items: center;">
        <i style="font-size: clamp(18px, 2vw, 25px);" class="pi pi-user dark:text-white"></i>
      </li>
      <li style="display: flex; align-items: center;">
        <div  style="position: relative; cursor: pointer; display: flex; align-items: center;" (click)="sepeteGit()">
          @if (miktar>0) {
            <span style="position: absolute; top: -8px; right: -8px; background-color: #d97706; color: white; font-size: clamp(10px, 1vw, 12px); font-weight: bold; border-radius: 50%; width: clamp(16px, 1.5vw, 20px); height: clamp(16px, 1.5vw, 20px); display: flex; align-items: center; justify-content: center; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);">
            {{miktar}}
          </span>
          }
          <i style="font-size: clamp(18px, 2vw, 25px);" class="pi pi-shopping-cart dark:text-white"></i>
        </div>
      </li>
      <li>
          <i  (click)="toggleDark()" style="font-size: clamp(18px, 2vw, 25px);" class="pi dark:text-white p-2 cursor-pointer" [ngClass]="isDark ? 'pi-moon' : 'pi-sun'"></i>
      </li>
    </ul>
  </div>
</div>
