<p-toast position="top-center" key="br" />

@if (loading){

  <div class="flex item-center justify-center">
    <p-progress-spinner ariaLabel="loading" />
  </div>
} @else {


<div id="mobil-card-container" style="background: var(--bg); color: var(--text-color);" class="flex flex-row p-10 caret-orange-900 rounded-xl shadow-lg border border-gray-200 gap-15 w-full h-180 ">
  <div id="mobil-card-img" style="width: 36% ">
  <img [src]=urun.image class="rounded-lg shadow-lg w-full h-full" alt="{{urun.title}}">

  </div>
  <div id="mobil-card-info"   style="width: 64%;">
    <div class="text-black flex flex-col gap-5 text-[var(--text-color)] dark:text-white">
      <h2 class="text-xl font-semibold text-[var(--text-color)] dark:text-white">{{ urun.title}}</h2>
      <div class="flex flex-row items-center gap-2">
        <p-rating [(ngModel)]="urun.rating.rate" [disabled]="true" cancel="false"></p-rating>
        <span class="text-[15px] text-gray-500">({{urun.rating.rate}})</span>
      </div>
      <p class="text-2xl font-bold mt-1 ">${{urun.price}}</p>
      <p>{{urun.description}}</p>
      <div>

        <p class="font-medium mb-1">Color</p>

          <div class="flex space-x-3 mt-5">
            @for (color of colors; track color.name) {
              <button
                (click)="selectColor(color.name)"
                [class]="isSelected(color.name) ?
        'w-8 h-8 rounded-full cursor-pointer ' + color.activeBg + ' scale-110 shadow-lg ring-2 ' + color.ring + ' transition-all duration-200' :
        'w-8 h-8 rounded-full cursor-pointer ' + color.bg + ' ' + color.hover + ' hover:scale-110 hover:shadow-lg transition-all duration-200'">
              </button>
            }
          </div>

      <div class="mt-10">
        <div class="flex justify-between items-center mt-6">
          <p class="font-medium">Size</p>

        </div>
        <div class="grid grid-cols-5 gap-2 mt-5 text-[var(--text-color)] dark:text-white" >
          @for (size of sizes; track size.value) {
            <button class="cursor-pointer"
              (click)="selectSize(size.value)"
              [class]="isSizeSelected(size.value) ?
          'border rounded px-3 py-2 text-sm border-green-500 bg-green-50 text-green-700 transition-all duration-200' :
          'border rounded px-3 py-2 text-sm border-gray-300 hover:border-green-400 hover:bg-green-50 transition-all duration-200'">
              {{ size.name }}
            </button>
          }
        </div>
      </div>

      <div class="flex items-center gap-3 mt-10">
        <div class="flex w-[40%] rounded bg-white">
          <p-autoComplete
            [(ngModel)]="selectedQuantity"
            [dropdown]="true"
            [suggestions]="items"
            (completeMethod)="search($event)"
            class="w-full bg-white text-white"
            inputStyleClass="!bg-white !text-black"
            panelStyleClass="!bg-white !text-black"
            appendTo="body"
            [panelStyle]="{'transform': 'translateY(-100%)', 'margin-top': '-8px'}"
          ></p-autoComplete>
        </div>

        <button pRipple (click)="showBottomRight()"  class="flex-1 bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded">Add to Cart</button>
      </div>
    </div>

  </div>
</div>
</div>
}

