<div class="flex flex-row p-10  caret-orange-900 rounded-xl shadow-lg border border-gray-200 gap-15 w-full h-180 ">
  <div style="width: 40% ">
  <img [src]=urun.image class="rounded-lg shadow-lg w-full h-full" alt="{{urun.title}}">

  </div>
  <div  style="width: 60%">
    <div class="text-black flex flex-col gap-5">
      <h2 class="text-xl font-semibold">{{ urun.title}}</h2>
      <div class="flex flex-row items-center gap-2">
        <p-rating [(ngModel)]="urun.rating.rate" [disabled]="true" cancel="false"></p-rating>
        <span class="text-[15px] text-gray-500">({{urun.rating.rate}})</span>
      </div>
      <p class="text-2xl font-bold mt-1">${{urun.price}}</p>
      <p style="color: black">{{urun.description}}hjögvvhjjjjjjjjjjjjjjjjj
        jjjjjjjjjjjjjjjjjjjjj
        jjjjjjjjjj
        jjjjjjjjjjjjj
        jjjjj</p>
      <div>
        <p class="font-medium mb-1">Color</p>
        <div class="flex space-x-3">
          <button
            class="w-6 h-6 rounded-full bg-gray-500 border-2 border-gray-400 transition-colors duration-200"
          ></button>
          <button class="w-6 h-6 rounded-full bg-green-500 border-2 border-green-400"></button>
          <button class="w-6 h-6 rounded-full bg-blue-500 border-2 border-blue-400"></button>
        </div>
      </div>
      <div>
        <div class="flex justify-between items-center mb-1">
          <p class="font-medium">Size</p>
          <a href="#" class="text-sm text-blue-500 hover:underline">Size Guide</a>
        </div>
        <div class="grid grid-cols-5 gap-2">
          <button class="border rounded px-3 py-2 text-sm">XS</button>
          <button class="border rounded px-3 py-2 text-sm">S</button>
          <button class="border rounded px-3 py-2 text-sm border-green-500">M</button>
          <button class="border rounded px-3 py-2 text-sm">L</button>
          <button class="border rounded px-3 py-2 text-sm">XL</button>
        </div>
      </div>
      <div class="flex items-center gap-3">
        <div class="flex border rounded">
          <button class="px-2">-</button>
          <input type="text" value="1" class="w-8 text-center border-l border-r outline-none"/>
          <button class="px-2">+</button>
        </div>
        <button class="flex-1 bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded">Add to Cart</button>
        <button class="text-gray-500 text-xl">♡</button>
      </div>
    </div>

  </div>
</div>
