<p-toast position="top-center" key="br"/>

@if (loading) {
  <div class="flex item-center justify-center">
    <p-progress-spinner ariaLabel="loading"/>
  </div>
} @else {

  <div class="flex flex-col rounded gap-5 rounded-xl shadow-lg border border-gray-200 py-2 w-full flex-1 px-2">
    @if (miktar > 0) {
      <div class="flex flex-col mb-15">
      <div class="flex flex-row w-full">
      <div id="sepet-card"  style="width: 70%" class="flex flex-col w-full gap-4 p-3 ">
        @for (urun of sepetUrunleri; track urun.id) {
          <div class="flex flex-row  w-full  justify-between p-8  gap-4 bg-white rounded-lg shadow-sm text-black">
            <div class="flex flex-row gap-4 w-full">
              <img [src]="urun.image" alt="Product Image" class="w-[20%] h-24 rounded-md"/>
              <div class="flex flex-col">
                <h1 style="color: black; font-weight: bold; font-size: 15px">{{ urun.title }}</h1>
                <span style="color: black;  font-size: 30px">{{ urun.size }}</span>
                <span>{{ urun.color }}</span>
                </div>
            </div>
            <div class="flex flex-col gap-4">
            <div class="flex flex-row gap-4 ">
              <span>${{ urun.price * urun.count }}</span>
              <i (click)="urunuSil(urun.id,urun.size,urun.color)" class="pi pi-trash mt-1 "></i>
            </div>
            <p-autoComplete
              [(ngModel)]="urun.count"
              [dropdown]="true"
              [suggestions]="quantityItems"
              (completeMethod)="searchQuantity($event)"
              (onSelect)="updateQuantity(urun, urun.count)"
              class="w-25"
              inputStyleClass="bg-white text-black text-center p-1"

            ></p-autoComplete>
          </div>
          </div>
        }
      </div>
        <div id="sepet-ozet" class="py-3 w-[30%]">
          <aside
            class="hidden min-[900px]:block bg-gradient-to-b from-white to-gray-100 p-4 rounded-xl sticky top-6 min-h-[300px] h-fit shadow-lg border border-gray-200 text-black w-full">
                  <div class="flex flex-col w-full gap-3 p-3  justify-center gap-2 ">
                    <p class="font-serif text-[30px]">Sipariş Özeti </p>
                    <hr class="my-4 border-t border-gray-200 "/>

                    <div class="flex flex-row gap-5 justify-between w-full">
                      <p class="text-black text-[18px] whitespace-nowrap">
                        Toplam
                      </p>

                      <p class="text-[#ffaf1a] break-words text-right max-w-[70%]">
                        ${{ toplamFiyati }}vbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
                      </p>
                    </div>

            <!--        <p style="color: #666; font-size: 18px; margin-bottom: 30px;">-->
            <!--          FREE SHIPPING AND RETURN-->
            <!--        </p>-->
                    <button routerLink="/" class="bg-green-500 hover:bg-green-600  w-full text-white font-semibold mt-3 py-3 rounded-lg transition-colors ">
                      Alışverişi Bitir
                    </button>
                  </div>
<!--                  <div class="flex flex-row justify-end">-->
<!--                    <button (click)="sepetiBosalt()"-->
<!--                            class="bg-red-500 hover:bg-red-600 text-white font-semibold px-8 py-3 rounded-lg transition-colors">-->
<!--                      Sepeti Boşalt-->
<!--                    </button>-->
<!--                  </div>-->
          </aside>
        </div>
      </div>
    <div >


    </div>
      </div>
      <div id="sepet-ozet-mobil" class="block min-[900px]:hidden">
        <footer
          class="fixed bottom-0 left-0 z-50  bg-white border-t w-full p-4 shadow-lg flex flex-col gap-4">

          <div class="flex flex-row justify-between items-center">
            <p class="text-black text-[18px] whitespace-nowrap">
              Toplam
            </p>

            <p class="text-[#ffaf1a] text-[18px] break-words max-w-[70%] text-right">
              ${{ toplamFiyati }}
            </p>
          </div>

          <button routerLink="/" class="w-full text-white font-semibold py-3 px-4 rounded-lg bg-green-600 hover:bg-green-700 transition-colors">
            Alışverişi Bitir
          </button>

        </footer>
      </div>
    } @else {
      <div id="sepet-bos" class="w-full flex flex-row gap-3 items-center ml-5 p-10 justify-between">
        <div class="p-3 flex flex-row gap-8 items-center">
          <div class="p-5 bg-orange-100 rounded-full">
            <i style="font-size: 30px; color: #ffa700;" class="pi pi-shopping-cart mt-1"></i>
          </div>
          <span style="font-size: 30px" class="text-black">Sepetinizde Ürün Bulunmamaktadır</span>
        </div>
        <div>
          <button
            class="text-white bg-orange-400 rounded-full px-10 py-3 cursor-pointer hover:bg-orange-500 transition-colors"
            routerLink="/">
            Alışverişe Başla
          </button>
        </div>
      </div>
    }
  </div>
}

