
<!--<div class="flex items-center">-->
<!--  <p-checkbox [inputId]="category.key" name="group" [value]="" [(ngModel)]="selectedCategories" />-->
<!--  <label [for]="category.key" class="ml-2"> {{ category.name }} </label>-->
<!--</div>-->

<aside
  class="min-[900px]:block w-full sticky top-6 min-h-[700px] h-fit hidden min-[900px]:block
         bg-gradient-to-b from-white to-gray-100 dark:from-black dark:to-gray-900
         text-black dark:text-white
         p-4 rounded-xl shadow-lg border border-gray-200 dark:border-gray-700"
>
  <h3 class="text-lg font-semibold mb-4" style="font-size: clamp(12px, 2vw, 18px);">
    Category
  </h3>

  @for (kategori of kategoriler; track $index)
  {
    <div
      (click)="kategoriSecildi(kategori)"
      class="flex items-center mb-2 rounded-lg px-3 py-2 cursor-pointer border
             transition-all duration-200
             "
      [ngClass]="{
        'bg-indigo-600 text-white border-indigo-600 font-semibold': secilenKategoriler.includes(kategori),
        'bg-transparent text-black dark:text-white border-gray-300 dark:border-gray-700': !secilenKategoriler.includes(kategori)
      }"
    >
      <label class="cursor-pointer w-full" style="font-size: clamp(12px, 2vw, 16px);">
        {{ kategori }}
      </label>
    </div>
  }
</aside>


<div  class="hidden max-[900px]:block">
  <p-multiSelect
    [(ngModel)]="secilenKategoriler"
    [options]="kategoriler"
    placeholder="Kategori seçin"
    display="chip"
    class="w-full"
    [filter]="true"
    [showToggleAll]="false"
    panelStyleClass="!bg-white !text-black dark:!bg-gray-800 dark:!text-white"
    (ngModelChange)="kategoriSecildi($event)">
  </p-multiSelect>

</div>

<!--      <input  inputId="ingredient1" name="pizza" [value]=kategori type="checkbox" (click)="kategoriSecildi(kategori)" />-->
