
<!--<div class="flex items-center">-->
<!--  <p-checkbox [inputId]="category.key" name="group" [value]="" [(ngModel)]="selectedCategories" />-->
<!--  <label [for]="category.key" class="ml-2"> {{ category.name }} </label>-->
<!--</div>-->

<aside
  class="w-52 bg-gradient-to-b from-white to-gray-100 p-5 rounded-xl sticky top-6 min-h-[700px] h-fit shadow-lg border border-gray-200 text-black" >
  <h3 class="text-lg font-semibold mb-4">Filters</h3>
  @for (kategori of kategoriler; track $index)
  {
    <div class="flex items-center mb-2">
      <input inputId="ingredient1" name="pizza" [value]=kategori type="checkbox" (click)="kategoriSecildi(kategori)" />
      <label for="ingredient1" class="ml-2"> {{kategori}}</label>
    </div>
  }
</aside>
